/* Home styles */
.home__content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(50%);
}

.home_section {
  position: relative;
}

.home_card {
  position: absolute;
  top: 0%;
  left: 10%;
  z-index: 10;
  padding-left: 1rem;
  padding-top: 15rem;
  width: 550px;
  height: 100%;
  border-radius: 0.5rem;
}

.home_card-title,
.home_card-subtitle,
.home_card-description {
  display: block;
}

.home_card-title {
  color: var(--toggle-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.home_card-subtitle {
  color: var(--container-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.home_card-description {
  color: var(--container-color);
  font-size: calc(var(--h3-font-size) - 0.4rem);
  font-weight: var(--font-normal);
}

.home_independence {
  position: relative;
  border: 2px solid red;
}
.home_independence .text {
  font-size: 40px;
}

.home_independence .flag {
  font-size: 30px;
}

/* Fin Home Styles */

/*************** BREAKPOINTS ************/
@media screen and (max-width: 996px) {
  .home_card {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 10;
    padding-left: 1rem;
    padding-top: 3rem;
    width: 250px;
    height: 100%;
    border-radius: 0.5rem;
  }

  .home_card-title {
    font-size: calc(var(--h1-font-size) - 0.9rem);
  }

  .home_card-subtitle {
    font-size: calc(var(--h1-font-size) - 0.9rem);
  }

  .home_card-description {
    font-size: calc(var(--h3-font-size) - 0.9rem);
  }
}

/***** For Small Devices *****/
@media screen and (max-width: 554px) {
  .home_card {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 10;
    padding-top: 0.5rem;
    width: 190px;
    height: 100%;
    border-radius: 0.5rem;
  }


  .home_card-title {
    font-size: calc(var(--h1-font-size) - 1.4rem);
  }

  .home_card-subtitle {
    font-size: calc(var(--h1-font-size) - 1.4rem);
  }

  .home_card-description {
    font-size: calc(var(--h3-font-size) - 1.3rem);
  }
}


