.contact_section {
    position: relative;
    background-image: url("/public/contact-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--container-color);
    display: block;
    padding-bottom: 2rem;
}

.contact_section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.90);
    z-index: 1;
}

.contact_section>*:not(.overlay) {
    position: relative;
    z-index: 2;
}

.contact_section-title {
    margin: 0;
    text-align: center;
    padding: 3rem 0 0 0;
}

.contact_section-subtitle {
    display: block;
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--black-color);
}

.contact_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

.contact__card {
    background-color: var(--container-color);
    border: 1px solid rgba(245, 0, 0, 0.1);
    border-radius: 0.7rem;
    text-align: center;
    padding: 2rem 1rem 1rem
}

.contact__card-message {
    background-color: var(--container-color);
    border-radius: 0.7rem;
    padding: 0rem 1rem 1rem
}

.contact__card-message .contact__title {
    font-size: 25px;
    font-family: 'Times New Roman';
}

.contact__form {
    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=email],
select {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

#message {
    border: 2px solid #ccc;
}

input[type=file] {
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 20px;
}

input[type=button] {
    width: 50%;
    background-color: var(--toggle-color);
    color: rgb(2, 38, 85);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: bolder;
    cursor: pointer;
}

.contact__card-icon {
    font-size: 1.5rem;
    color: var(--toggle-color);
    box-shadow: rgba(2, 17, 33, 0.2) 0px 1px 12px;
    border-radius: 0.2rem;
    margin-right: 1rem;
    padding: 0.2rem;
}

.contact__card-data {
    display: block;
    color: var(--black-color);
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.contact__card-button {
    display: block;
    margin-top: 1rem;
    cursor: pointer;
    color: var(--text-color);
}

.contact__card-contacts {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
}

.contact__card-address {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.contact__card-contacts-hr {
    margin-bottom: 1.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 80%;
}

.contact__card-serving {
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    margin-top: 1.5rem;
}

.contact__card-serving .title {
    font-size: 16px;
}

.contact__card-serving .hr {
    width: 50%;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.19);
    margin: 0.5rem 0;
}

.contact__card-serving .subtitle {
    font-weight: bold;
    font-size: 12px;
}

.contact__card .contact__title {
    border: 1px solid red;
}

.button:hover {
    background-color: rgba(255, 193, 0, 0.5);
    cursor: pointer;
}

/* Work modal CSS Styles */
.contact__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}

.contact__modal-content {
    width: 500px;
    position: relative;
    background-color: var(--container-color);
    padding: 2.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.contact__modal-title {
    display: block;
    text-align: center;
}

.contact__modal-icon {
    display: block;
    color: rgba(255, 193, 0);
    font-size: 2.5rem;
    text-align: center;
}

.contact__modal-message {
    color: var(--black-color);
    display: block;
    text-align: center;
}

.contact__modal-button {
    display: block;
    width: 150px;
    height: 45px;
    margin: auto;
    padding-top: 1.5rem;
    background-color: rgba(255, 193, 0);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 1.2rem;
    cursor: pointer;
    justify-content: center;
}

.contact__modal-button:hover {
    background-color: rgba(255, 193, 0, 0.5);
}

.contact__modal-button span {
    display: block;
    text-align: center;
    margin-top: -0.8rem;
    color: var(--container-color);
}

/* Active Modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/********** BREAKPOINTS *********/
/**** For Medium Devices *****/
@media screen and (max-width: 996px) {}

/*** For Small Devices ***/
@media screen and (max-width: 639px) {
    .contact__card {
        background-color: var(--container-color);
        border: 1px solid rgba(245, 0, 0, 0.1);
        border-radius: 0.7rem;
        text-align: center;
        padding: 2rem 0rem 1rem
    }
}