.dealer_section {
  display: block;
  background-color: var(--container-color);
  padding: 1rem 2rem;
}

.dealer__container {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

/********* BREAKPOINTS ***********/
/***** For Small Devices ******/
@media screen and (max-width: 639px){
  .dealer__container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}